<div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="card">
          <div class="text-center">
            <h1>Sign Up</h1>
            <h6>Register Yourself</h6>
          </div>
          <form [formGroup]="signupForm" (ngSubmit)="signUp()">
  
            <div class="mb-3">
              <label for="firstname" class="form-label">*First name</label>
              <input type="text" formControlName="firstname" pattern="[a-zA-Z]*" minlength="4" class="form-control" placeholder="Please Enter First Name"><br>
              <span class="text-danger" *ngIf="signupForm.controls['firstname'].dirty
                        && signupForm.hasError('required','firstname')">*First Name is requires</span>
                        <span class="text-danger" *ngIf="signupForm.controls['firstname'].dirty
                        && signupForm.hasError('pattern','firstname')">*First Name only latters is requires</span>
            </div>
  
            <div class="mb-3">
              <label for="lastname" class="form-label">*Last Name</label>
              <input type="text" formControlName="lastname" minlength="4" pattern="[a-z\sA-Z]*" class="form-control" placeholder="Please Enter Last Name"><br>
              <span class="text-danger" *ngIf="signupForm.controls['lastname'].dirty
                        && signupForm.hasError('required','lastname')">*Last Name is requires</span>
                        <span class="text-danger" *ngIf="signupForm.controls['lastname'].dirty
                        && signupForm.hasError('pattern','lastname')">*Last Name only latters is requires</span>
            </div>
  
            <div class="mb-3">
              <label for="mobile" class="form-label">*Mobile Number</label>
              <input type="number" formControlName="mobile" pattern="^((\\+91-?)|0)?[0-9]{10}$" minlength="10" class="form-control" placeholder="Please Enter Mobile Number"><br>
              <span class="text-danger" *ngIf="signupForm.controls['mobile'].dirty
                        && signupForm.hasError('required','mobile')">*Mobile Number is requires</span>
                        <span class="text-danger" *ngIf="signupForm.controls['mobile'].dirty
                        && signupForm.hasError('pattern','mobile')">*Mobile Number only numbers is requires</span>
            </div>
  
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">*Email address</label>
              <input type="email" formControlName="email" pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" class="form-control" placeholder="Please Enter Email Id"
                aria-describedby="emailHelp"><br>
              <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
              <span class="text-danger" *ngIf="signupForm.controls['email'].dirty
                        && signupForm.hasError('required','email')">*Email Id is requires</span>
                        <span class="text-danger" *ngIf="signupForm.controls['email'].dirty
                        && signupForm.hasError('pattern','email')">*Eanter a valid Email Address</span>
            </div>
  
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">*Password</label>
              <input type="password" formControlName="password" pattern='^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9]).{8,16}$'
              class="form-control"
                placeholder="Please Enter Password"><br>
              <span class="text-danger" *ngIf="signupForm.controls['password'].dirty
                        && signupForm.hasError('required','password')">*Password is requires</span>
                        <span class="text-danger" *ngIf="signupForm.controls['password'].dirty
                        && signupForm.hasError('pattern','password')">*Password length shoud be 8-16 characters and contain both numbers,latters and special characters</span>
            </div>
  
            <div class="mb-3">
              <label for="passConfirm" class="form-label">*Confirm Password</label>
              <input type="password" formControlName="passConfirm" pattern='^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9]).{8,16}$' class="form-control"
                placeholder="Please Enter Confirm Password"><br>
              <span class="text-danger" *ngIf="signupForm.controls['passConfirm'].dirty
                        && signupForm.hasError('required','passConfirm')">*PassConfirm is requires</span>
                        <span class="text-danger" *ngIf="signupForm.controls['passConfirm'].dirty
                        && (signupForm.controls['passConfirm'].value !== signupForm.controls['password'].value)">*Confirm Password not Match!</span>
            </div>
                
            <button type="submit" [disabled]="!signupForm.valid" class="btn btn-primary">Sign up</button>
          </form>
          <a style="color: #fff; margin-top: 10px" routerLink="/login">Already registered? Click to Login!!</a>
  
        </div>
      </div>
    </div>
  </div>