<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/home">resto</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
       <!--- <a class="nav-link" routerLink="home">Home <span class="sr-only">(current)</span></a>-->
        
       <a class="nav-item nav-link" routerLink="list">List Restaurant</a>

        <a class="nav-item nav-link" routerLink="add">Add Restaurant</a>
       
        <a class="nav-item nav-link" routerLink="update">Update Restaurant</a>
          
        <a class="nav-item nav-link" routerLink="login">Login User</a>
      
        <a class="nav-item nav-link" routerLink="register">Register User</a>
    
      
   
  </div>
</nav>


